nav {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
  color: blue;
}

.To-do {
  color: red;
}

.Doing {
  color: yellow;
}

.Done {
  color: green;
}

.To-do-list-table {
  background-color: #f0f0f0;
}